.bottomimg{
    width: 100%;
    display: flex;justify-content: center;
    align-items: center;
    height: 700px;
    margin: 2% 0;
    /* background-color: rgb(202, 162, 162); */


}
.admission-row1,.admission-row2{
    /* margin-top: 4%; */
    height: 400px ;
    background: #f6f5f2;
    /* border: 1px solid; */
    width: 100%;
    display: flex;
}
.admission-row1 div ,.admission-row2 div{
    display: flex;
    padding: 0 2%;
    justify-content: center;
    
    text-align: justify;
    /* align-items: center; */
    flex-direction: column;
    /* border: 1px solid; */
    width: 50%;height: 100%;
    line-height: 180%;
} 

.admission-row1 .admission-row1-right{
    box-shadow: 1px 5px 5px 1px;
    border-radius: 5%;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.admission-row2 .admission-row2-left{
    box-shadow: 1px 5px 5px 1px;
    border-radius: 5%;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottomimg img{
    height: 100%;
    width: 95%;
    /* border-radius: 5%; */
    /* margin: 3% 1%; */
    box-shadow: 1px 5px 5px 1px;
    border-radius: 5%;
}
.admission{
    background-image: url('../Images/Admissions.jpeg');

}
.Prospective{
    background-image: url('../Images/prospective.avif');

}
div p span{
font-weight: 600;
font-size: 20px;
}