*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    background: #f6f5f2;
    /* border: 1px solid; */
    justify-content: space-between;
    padding: 0.1% 5%;
}
.header .img {
    height: 80px;
    width: 25%;
}
.img img {
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 0px  2px 0px white;
    cursor: pointer;
    transition: 1s all;
}
.img img:hover{
    filter: invert(1);
    transform: scale(1.1);
}
.header ul {
    display: flex;
    width: 48%;
    margin:  auto 0 ;
    justify-content: center;
    align-items: center;
}
.header ul li {
    margin: 0%  3%;
    list-style: none;
    font-size: 17px;
}
.header ul li a{
    text-decoration: none;
    color: #6b4040;
}

.header ul li a:hover {

    padding: 3px 6px;
    border-radius: 17%;
    box-shadow: 1px 0px 1px;
    background: #cee0e7;
    color: #6b4040;
}

.header h2{
    width: 40%;
}

@media screen and (max-width:500px) {
    .header {
        padding: 1px 12%;
    }
    .header .img {
        height: 40px;
        width: 25%;
    }
    .header ul {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .header ul li {
        margin: 0%  1%;
        list-style: none;
        font-size: 10px;
    }
}
@media screen and (max-width:455px){
    
    
    .header .img {
        height: 32px;
        width: 25%;
    }
    .header {
        padding: 0px 1%;
    }
    .header ul li {
        margin: 0%  4px;
        list-style: none;
        font-size: 8px;
        color: rgb(18, 17, 17);
    }
}
