.students-wrapper div div p{
    /* color: red; */line-height: 35px;
}
.students-wrapper div .Clubs-Activities{
    background-image: url('../Images/clubs.webp');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:5% ;
    box-shadow: 1px 1px 1px 1px ;

}
.students-wrapper div .acheivments{
    background-image: url('../Images/acheivments.png');
    border-radius:5% ;
    box-shadow: 1px 1px 1px 1px ;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

